# Silver Batch Processing

In [1]:
import os

# Importing Dependencies
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, regexp_replace

from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [2]:
# Initialize SparkSession
spark = SparkSession.builder \
    .appName("SilverBatchProcessor") \
    .master("local[*]") \
    .getOrCreate()

# Using Legacy Time parser for this dataset because latest version was having trouble parsing strings to dates..
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/12 20:14:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Read Raw dataset from Bronze

In [3]:
# Path to bronze data
csv_path = "../data/Raw_Airline_data.csv"

In [4]:
# If your CSV has a header
df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load(csv_path)

row_count = df.count()

In [5]:
print(f'There are {row_count} records...')

There are 394476 records...

In [6]:
# Chekcing out the schema
schema = df.schema
for field in schema:
    print(f"{field.name} | {field.dataType} | {field.nullable}")

Passenger ID | StringType() | True
First Name | StringType() | True
Last Name | StringType() | True
Gender | StringType() | True
Age | IntegerType() | True
Nationality | StringType() | True
Airport Name | StringType() | True
Airport Country Code | StringType() | True
Country Name | StringType() | True
Airport Continent | StringType() | True
Continents | StringType() | True
Departure Date | StringType() | True
Arrival Airport | StringType() | True
Pilot Name | StringType() | True
Flight Status | StringType() | True

In [7]:
# Show Raw Data
df.show(5)

+------------+----------+---------+------+---+-----------+--------------------+--------------------+-------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|Passenger ID|First Name|Last Name|Gender|Age|Nationality|        Airport Name|Airport Country Code| Country Name|Airport Continent|   Continents|Departure Date|Arrival Airport|         Pilot Name|Flight Status|
+------------+----------+---------+------+---+-----------+--------------------+--------------------+-------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|      ABVWIg|    Edithe|   Leggis|Female| 62|      Japan|    Coldfoot Airport|                  US|United States|              NAM|North America|     6/28/2022|            CXF|Fransisco Hazeldine|      On Time|
|      jkXXAX|    Elwood|     Catt|  Male| 62|  Nicaragua|   Kugluktuk Airport|                  CA|       Canada|              NAM|North America|    12/26/2022|            YCO|    Marla Parsonage|      On Time|
|      CdUz2g|     Darby|  Felgate|  Male| 67|     Russia|Grenoble-IsÃ¨re Ai...|                  FR|       France|               EU|       Europe|     1/18/2022|            GNB|       Rhonda Amber|      On Time|
|      BRS38V|  Dominica|     Pyle|Female| 71|      China|Ottawa / Gatineau...|                  CA|       Canada|              NAM|North America|     9/16/2022|            YND|     Kacie Commucci|      Delayed|
|      9kvTLo|       Bay|  Pencost|  Male| 21|      China|     Gillespie Field|                  US|United States|              NAM|North America|     2/25/2022|            SEE|        Ebonee Tree|      On Time|
+------------+----------+---------+------+---+-----------+--------------------+--------------------+-------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
only showing top 5 rows

### Removing Duplicates

In [8]:
df_deduped = df.dropDuplicates()
de_duped_row_count = df_deduped.count()
print(f'There are {de_duped_row_count} records after deduping...')

There are 295857 records after deduping...

### Handle Null Values

In [9]:
# Drop rows where any value is null
df_no_nulls = df_deduped.dropna()
df_no_nulls_count = df_no_nulls.count()
print(f'There are {df_no_nulls_count} records after deduping...')

There are 295857 records after deduping...

### Standardize Date Field
#### Looks like there is inconsistency with string date formats

In [10]:
# some dates are seperated by '-' or '/' we need to standarize this field
df_no_nulls.select("Departure Date").show(truncate=False)

+--------------+
|Departure Date|
+--------------+
|09-10-2022    |
|4/15/2022     |
|3/27/2022     |
|02-01-2022    |
|8/27/2022     |
|4/13/2022     |
|3/14/2022     |
|11/30/2022    |
|11/24/2022    |
|08-10-2022    |
|7/26/2022     |
|6/13/2022     |
|09-08-2022    |
|1/29/2022     |
|9/27/2022     |
|4/17/2022     |
|11/30/2022    |
|12/13/2022    |
|08-07-2022    |
|10/20/2022    |
+--------------+
only showing top 20 rows

In [11]:

# Replace '-' with '/' to standardize the format
df_standardized = df_no_nulls.withColumn("Departure Date", regexp_replace("Departure Date", "-", "/"))

# Convert the standardized date to a proper date format
df_silver = df_standardized.withColumn("Departure Date", to_date("Departure Date", "MM/dd/yyyy"))

In [12]:
df_silver.show()

+------------+----------+-----------+------+---+-------------+--------------------+--------------------+------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|Passenger ID|First Name|  Last Name|Gender|Age|  Nationality|        Airport Name|Airport Country Code|      Country Name|Airport Continent|   Continents|Departure Date|Arrival Airport|         Pilot Name|Flight Status|
+------------+----------+-----------+------+---+-------------+--------------------+--------------------+------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|      aogYWd|    Vernen|   Ivakhnov|  Male| 90|        China|     Mullewa Airport|                  AU|         Australia|               OC|      Oceania|    2022-09-10|            MXU|     Lidia Kleinert|      Delayed|
|      AbSraZ|   Janenna|     Goozee|Female| 80|United States|New Stuyahok Airport|                  US|     United States|              NAM|North America|    2022-04-15|            KNW|Quincy Gilberthorpe|      Delayed|
|      pkdrkc|    Florry|Adamthwaite|Female| 12|  Philippines|         Ibo Airport|                  MZ|        Mozambique|               AF|       Africa|    2022-03-27|            IBO|       Vinny Friday|      Delayed|
|      Djt2K3|     Barny|       Elan|  Male| 72|        China|Nantes Atlantique...|                  FR|            France|               EU|       Europe|    2022-02-01|            NTE|      Caspar Debill|      On Time|
|      8MxRhM|     Alisa|    O'Neill|Female| 82|  Philippines|      DÃ©line Airport|                  CA|            Canada|              NAM|North America|    2022-08-27|            YWJ|       Dietrich Luc|      On Time|
|      6OEyWh| Augustina|    Werlock|Female| 29|     Honduras|  Tinson Pen Airport|                  JM|           Jamaica|              NAM|North America|    2022-04-13|            KTP|       Harp Gareisr|      Delayed|
|      ZWIvph|      Cary|    Morrott|Female| 87|     Pakistan|   St Helens Airport|                  AU|         Australia|               OC|      Oceania|    2022-03-14|            HLS|    Carley Gillings|      On Time|
|      0rzPV2|      Gail|    Birbeck|  Male| 48|      Vietnam|       Dabra Airport|                  ID|         Indonesia|               AS|         Asia|    2022-11-30|            DRH|   Zitella Portwain|    Cancelled|
|      3ZOOdc|    Glynda|     Geelan|Female| 71|        Japan|     HumaitÃ¡ Airport|                  BR|            Brazil|              SAM|South America|    2022-11-24|            HUW|        Sibyl Baert|      On Time|
|      hDbIcN|    Carine|    Winscom|Female|  4|     Colombia|      Manari Airport|                  PG|  Papua New Guinea|               OC|      Oceania|    2022-08-10|            MRM|Gertruda Robertsson|      On Time|
|      B4VXt5|   Laurent|    Agutter|  Male| 35|       France|      Mindik Airport|                  PG|  Papua New Guinea|               OC|      Oceania|    2022-07-26|            MXK|   Aeriel Calbaithe|      On Time|
|      GbA6iF|     Tracy|   Prestner|Female| 82|     Paraguay|Ostafyevo Interna...|                  RU|Russian Federation|               EU|       Europe|    2022-06-13|            OSF|      Robyn Ubsdell|      Delayed|
|      PUYxYd|    Ashlee|Hamberstone|Female|  9|      Belarus|Fort Chipewyan Ai...|                  CA|            Canada|              NAM|North America|    2022-09-08|            YPY|    Dana Goodenough|      On Time|
|      9KICI4|    Nollie|   Coverlyn|Female| 53|        Ghana|   Erandique Airport|                  HN|          Honduras|              NAM|North America|    2022-01-29|            EDQ| Jesselyn Stapleton|    Cancelled|
|      SDD4gM|   Kikelia|      Monan|Female| 90|        China| Gamarmalamo Airport|                  ID|         Indonesia|               AS|         Asia|    2022-09-27|            GLX|     Syman Dovidian|    Cancelled|
|      X9nfAY|   Jessica|  Matteucci|Female| 49|United States|    Tarcoola Airport|                  AU|         Australia|               OC|      Oceania|    2022-04-17|            TAQ|    Barbette Hallad|      On Time|
|      OEBxfP|   Stevena|  Tilliards|Female| 41|        China|Gordon Downs Airport|                  AU|         Australia|               OC|      Oceania|    2022-11-30|            GDD|    Mitchel Hasloch|      Delayed|
|      UD3cAl| Annamarie|   Rickwood|Female| 72|  Philippines|Balesin Island Ai...|                  PH|       Philippines|               AS|         Asia|    2022-12-13|            BSI|      Warner Amdohr|      Delayed|
|      yzP2n9|    Trixie|   Arington|Female| 62|      Morocco|Lankaran Internat...|                  AZ|        Azerbaijan|               AS|         Asia|    2022-08-07|            LLK|      Linus Giscken|      Delayed|
|      UFngO4|    Stearn|      Solan|  Male| 49|       Russia|      Satwag Airport|                  PG|  Papua New Guinea|               OC|      Oceania|    2022-10-20|            SWG|  Burch Tomaszewski|      Delayed|
+------------+----------+-----------+------+---+-------------+--------------------+--------------------+------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
only showing top 20 rows

## Enriching with Lat and Long information

In [13]:
# Path to the countries.csv file
countries_file = "../data/countries.csv"

# Read the countries.csv into a PySpark DataFrame
countries_df = spark.read.csv(countries_file, header=True, inferSchema=True)

In [14]:
# Rename the 'name' column in countries_df to match the 'Country Name' column in silver_df
countries_df = countries_df.withColumnRenamed("country", "Airport Country Code")

# Perform an inner join between silver_df and countries_df
df_enriched = df_silver.join(countries_df, on="Airport Country Code", how="inner")

In [15]:
df_enriched.show()

+--------------------+------------+----------+-----------+------+---+-------------+--------------------+------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+----------+-----------+----------------+
|Airport Country Code|Passenger ID|First Name|  Last Name|Gender|Age|  Nationality|        Airport Name|      Country Name|Airport Continent|   Continents|Departure Date|Arrival Airport|         Pilot Name|Flight Status|  latitude|  longitude|            name|
+--------------------+------------+----------+-----------+------+---+-------------+--------------------+------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+----------+-----------+----------------+
|                  AU|      aogYWd|    Vernen|   Ivakhnov|  Male| 90|        China|     Mullewa Airport|         Australia|               OC|      Oceania|    2022-09-10|            MXU|     Lidia Kleinert|      Delayed|-25.274398| 133.775136|       Australia|
|                  US|      AbSraZ|   Janenna|     Goozee|Female| 80|United States|New Stuyahok Airport|     United States|              NAM|North America|    2022-04-15|            KNW|Quincy Gilberthorpe|      Delayed|  37.09024| -95.712891|   United States|
|                  MZ|      pkdrkc|    Florry|Adamthwaite|Female| 12|  Philippines|         Ibo Airport|        Mozambique|               AF|       Africa|    2022-03-27|            IBO|       Vinny Friday|      Delayed|-18.665695|  35.529562|      Mozambique|
|                  FR|      Djt2K3|     Barny|       Elan|  Male| 72|        China|Nantes Atlantique...|            France|               EU|       Europe|    2022-02-01|            NTE|      Caspar Debill|      On Time| 46.227638|   2.213749|          France|
|                  CA|      8MxRhM|     Alisa|    O'Neill|Female| 82|  Philippines|      DÃ©line Airport|            Canada|              NAM|North America|    2022-08-27|            YWJ|       Dietrich Luc|      On Time| 56.130366|-106.346771|          Canada|
|                  JM|      6OEyWh| Augustina|    Werlock|Female| 29|     Honduras|  Tinson Pen Airport|           Jamaica|              NAM|North America|    2022-04-13|            KTP|       Harp Gareisr|      Delayed| 18.109581| -77.297508|         Jamaica|
|                  AU|      ZWIvph|      Cary|    Morrott|Female| 87|     Pakistan|   St Helens Airport|         Australia|               OC|      Oceania|    2022-03-14|            HLS|    Carley Gillings|      On Time|-25.274398| 133.775136|       Australia|
|                  ID|      0rzPV2|      Gail|    Birbeck|  Male| 48|      Vietnam|       Dabra Airport|         Indonesia|               AS|         Asia|    2022-11-30|            DRH|   Zitella Portwain|    Cancelled| -0.789275| 113.921327|       Indonesia|
|                  BR|      3ZOOdc|    Glynda|     Geelan|Female| 71|        Japan|     HumaitÃ¡ Airport|            Brazil|              SAM|South America|    2022-11-24|            HUW|        Sibyl Baert|      On Time|-14.235004|  -51.92528|          Brazil|
|                  PG|      hDbIcN|    Carine|    Winscom|Female|  4|     Colombia|      Manari Airport|  Papua New Guinea|               OC|      Oceania|    2022-08-10|            MRM|Gertruda Robertsson|      On Time| -6.314993|  143.95555|Papua New Guinea|
|                  PG|      B4VXt5|   Laurent|    Agutter|  Male| 35|       France|      Mindik Airport|  Papua New Guinea|               OC|      Oceania|    2022-07-26|            MXK|   Aeriel Calbaithe|      On Time| -6.314993|  143.95555|Papua New Guinea|
|                  RU|      GbA6iF|     Tracy|   Prestner|Female| 82|     Paraguay|Ostafyevo Interna...|Russian Federation|               EU|       Europe|    2022-06-13|            OSF|      Robyn Ubsdell|      Delayed|  61.52401| 105.318756|          Russia|
|                  CA|      PUYxYd|    Ashlee|Hamberstone|Female|  9|      Belarus|Fort Chipewyan Ai...|            Canada|              NAM|North America|    2022-09-08|            YPY|    Dana Goodenough|      On Time| 56.130366|-106.346771|          Canada|
|                  HN|      9KICI4|    Nollie|   Coverlyn|Female| 53|        Ghana|   Erandique Airport|          Honduras|              NAM|North America|    2022-01-29|            EDQ| Jesselyn Stapleton|    Cancelled| 15.199999| -86.241905|        Honduras|
|                  ID|      SDD4gM|   Kikelia|      Monan|Female| 90|        China| Gamarmalamo Airport|         Indonesia|               AS|         Asia|    2022-09-27|            GLX|     Syman Dovidian|    Cancelled| -0.789275| 113.921327|       Indonesia|
|                  AU|      X9nfAY|   Jessica|  Matteucci|Female| 49|United States|    Tarcoola Airport|         Australia|               OC|      Oceania|    2022-04-17|            TAQ|    Barbette Hallad|      On Time|-25.274398| 133.775136|       Australia|
|                  AU|      OEBxfP|   Stevena|  Tilliards|Female| 41|        China|Gordon Downs Airport|         Australia|               OC|      Oceania|    2022-11-30|            GDD|    Mitchel Hasloch|      Delayed|-25.274398| 133.775136|       Australia|
|                  PH|      UD3cAl| Annamarie|   Rickwood|Female| 72|  Philippines|Balesin Island Ai...|       Philippines|               AS|         Asia|    2022-12-13|            BSI|      Warner Amdohr|      Delayed| 12.879721| 121.774017|     Philippines|
|                  AZ|      yzP2n9|    Trixie|   Arington|Female| 62|      Morocco|Lankaran Internat...|        Azerbaijan|               AS|         Asia|    2022-08-07|            LLK|      Linus Giscken|      Delayed| 40.143105|  47.576927|      Azerbaijan|
|                  PG|      UFngO4|    Stearn|      Solan|  Male| 49|       Russia|      Satwag Airport|  Papua New Guinea|               OC|      Oceania|    2022-10-20|            SWG|  Burch Tomaszewski|      Delayed| -6.314993|  143.95555|Papua New Guinea|
+--------------------+------------+----------+-----------+------+---+-------------+--------------------+------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+----------+-----------+----------------+
only showing top 20 rows

In [16]:
# unmatched_rows = df_silver.join(countries_df, on="Airport Country Code", how="left_anti")
# unmatched_rows.show(truncate=False)
# print(f"Unmatched rows count: {unmatched_rows.count()}")

### Saving silver table to silver data layer (just a csv in this case)

In [18]:
# Path to save the silver DataFrame
output_path = '../data/silver_data'

# Save the DataFrame to a single CSV file
df_enriched.coalesce(1).write.option("header", True).mode("overwrite").csv(output_path)

print(f"Silver data saved to: {output_path}")

Silver data saved to: ../data/silver_data